<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="shipbot_urdf">
  <link
    name="link0">
    <inertial>
      <origin
        xyz="0.00177485489793501 -1.06702145103145E-05 -0.0150052633034037"
        rpy="0 0 0" />
      <mass
        value="0.159501817678804" />
      <inertia
        ixx="8.44102418327144E-05"
        ixy="7.37059969003691E-08"
        ixz="4.57501855444663E-06"
        iyy="0.000133702392579779"
        iyz="-5.14045358889006E-08"
        izz="5.65734170944764E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link0.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.0435682459611796 0.0487138725232305 -0.00849868398652519"
        rpy="0 0 0" />
      <mass
        value="0.236983679127427" />
      <inertia
        ixx="0.000186089819983631"
        ixy="-4.3593604955255E-07"
        ixz="-3.28088325872055E-07"
        iyy="0.000119070785166615"
        iyz="9.48848244861816E-06"
        izz="8.75248405299722E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotary1"
    type="fixed">
    <origin
      xyz="0 -0.01605 0"
      rpy="0 0 -3.1416" />
    <parent
      link="link0" />
    <child
      link="link1" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.334087899507058 -0.00710174088727821 -0.00251605438719936"
        rpy="0 0 0" />
      <mass
        value="0.266489933106212" />
      <inertia
        ixx="0.000100367681785219"
        ixy="-1.39184714171088E-05"
        ixz="-1.57354831431981E-08"
        iyy="0.000916407026346567"
        iyz="8.84659128394106E-08"
        izz="0.00099285630134341" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotary2"
    type="fixed">
    <origin
      xyz="0.0685499999999988 0.0550000000000011 0"
      rpy="1.5707963267949 -0.785398163397442 1.57079632679491" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.276869746244448 -0.00100200178142151 -0.00153525869038531"
        rpy="0 0 0" />
      <mass
        value="0.282526325354187" />
      <inertia
        ixx="8.95804416158678E-05"
        ixy="4.57498513168779E-06"
        ixz="-1.59365094432185E-06"
        iyy="0.000943817080769589"
        iyz="-7.39047593070522E-08"
        izz="0.00100893214076826" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotary3"
    type="fixed">
    <origin
      xyz="0.425 0 -0.0310500000000005"
      rpy="3.14159265358979 0 -2.35619449019234" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.00849868397501335 0.00628612706903546 0.00893175403944535"
        rpy="0 0 0" />
      <mass
        value="0.236983679120407" />
      <inertia
        ixx="8.75248403181903E-05"
        ixy="9.48847865678436E-06"
        ixz="-3.28088322834755E-07"
        iyy="0.000119070785355048"
        iyz="-4.35936027682217E-07"
        izz="0.000186089819960431" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotary4"
    type="fixed">
    <origin
      xyz="-0.427499999999995 0 -0.0860499999999999"
      rpy="1.5707963267949 0 1.5707963267949" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="-7.7715611723761E-16 -2.77555756156289E-16 0.0237027062559837"
        rpy="0 0 0" />
      <mass
        value="0.0222650078147918" />
      <inertia
        ixx="2.96649808571936E-06"
        ixy="6.35274710440725E-22"
        ixz="-2.73269188462115E-21"
        iyy="2.96649808571935E-06"
        iyz="7.68977509154583E-21"
        izz="4.30294027693139E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.501960784313725 0.501960784313725 0.501960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://shipbot_urdf/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rotary5"
    type="fixed">
    <origin
      xyz="0 0 -0.01605"
      rpy="3.1416 0 -0.3927" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>